extends partials/main
include partials/nav

block content
    div(class="container mt-5")
        h1(class="text-center")  Lorem
        p(class="text-center")   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, in.
        p(class="text-center")   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, in.
        p(class="text-center")   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, in.
        p(class="text-center")   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, in.
        p(class="text-center")   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, in.