block nav
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        div.collapse.navbar-collapse#navbarTogglerDemo01
            a(class='navbar-brand' href='#') Ferreteria
            ul.navbar-nav.mr-auto.mt-2.mt-lg-0
                li.nav-item.active
                    a(class='nav-link' href='/') Home
                        span(class="sr-only") (current)
                li.nav-item.active
                    a(class='nav-link' href='/signup') Register
                li.nav-item.active 
                    a(class='nav-link' href='/signin') Login
                li.nav-item.active 
                     a(class='nav-link' href='/logout') Logut
                li.nav-item.active 
                     a(class='nav-link' href='/profile') Porfile
        
                